build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
deploy:
  type: text
  content: |
    #/bin/sh

    kubectl apply -n $ROOST_NAMESPACE -f kubernetes-manifests/adservice.yaml

    kubectl apply -n $ROOST_NAMESPACE -f kubernetes-manifests/cartservice.yaml

    kubectl apply -n $ROOST_NAMESPACE -f kubernetes-manifests/checkoutservice.yaml

    kubectl apply -n $ROOST_NAMESPACE -f kubernetes-manifests/currencyservice.yaml

    kubectl apply -n $ROOST_NAMESPACE -f kubernetes-manifests/emailservice.yaml

    kubectl apply -n $ROOST_NAMESPACE -f kubernetes-manifests/frontend.yaml

    kubectl apply -n $ROOST_NAMESPACE -f kubernetes-manifests/kustomization.yaml

    kubectl apply -n $ROOST_NAMESPACE -f kubernetes-manifests/loadgenerator.yaml

    kubectl apply -n $ROOST_NAMESPACE -f kubernetes-manifests/paymentservice.yaml

    kubectl apply -n $ROOST_NAMESPACE -f kubernetes-manifests/productcatalogservice.yaml

    kubectl apply -n $ROOST_NAMESPACE -f kubernetes-manifests/redis.yaml

    kubectl apply -n $ROOST_NAMESPACE -f kubernetes-manifests/shippingservice.yaml

    kubectl apply -n $ROOST_NAMESPACE -f kustomize/base/adservice.yaml

    kubectl apply -n $ROOST_NAMESPACE -f kustomize/base/frontend.yaml

    kubectl apply -n $ROOST_NAMESPACE -f kustomize/components/network-policies/network-policy-adservice.yaml

    kubectl apply -n $ROOST_NAMESPACE -f kustomize/components/network-policies/network-policy-frontend.yaml

    kubectl apply -n $ROOST_NAMESPACE -f kustomize/components/service-accounts/service-account-adservice.yaml

    kubectl apply -n $ROOST_NAMESPACE -f kustomize/components/service-accounts/service-account-frontend.yaml
test:
  - name: cypresstest
    configType: cypress
    configPath: RoostTest/cypresstest
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
lastUpdatedBy: Yash Upadhyay
lastUpdatedOn: 2023-02-15T13:33:27.443Z
