build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f src/frontend/Dockerfile -t frontend:$GIT_COMMIT_ID src/frontend 
    docker tag frontend:$GIT_COMMIT_ID  frontend:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |+
    #/bin/sh


    kubectl apply -n $ROOST_NAMESPACE -f kubernetes-manifests/frontend.yaml

test:
  - name: cypresstest
    configType: selenium/test
    configPath: RoostTest/cypresstest/cypresstest.spec.js
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
app_dependencies:
  type: text
  content: |
    #!/bin/sh

    # make all
    # docker build
app_deploy:
  type: text
  content: |+
    #/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

app_docker_compose: ''
lastUpdatedBy: Yash Upadhyay
lastUpdatedOn: 2023-02-17T06:10:02.356Z
